body {
    margin: 0;
    height: 100vh;
}

#content {
    margin: 0;
    background-image: url("");
    background-repeat:no-repeat;
    height: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.mainImg {
    height: 100vh;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-end;
    justify-self: center;
    font-weight: bolder;
    font-size: 6rem;
    color: white;
}

.slogan {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
    font-size: 2.5rem;
    color: white;
    align-self: flex-start;
    justify-self: center;
}

.navBar {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 75px;
    background-color: rgb(222, 221, 221);
    display: flex;
    align-items: center;
    padding-left: 100px;
    margin-top: 1%;
    gap: 25px;
}

#btn {
    border: none;
    background: none;
    font-size: 1.3rem;
    cursor: pointer;
}
